menu "Key"

config __MMI_NO_SIDEKEY__
	option skipmk
	bool "No side key"
	default y
	---help---
		MMI support no sidekey. Pound key and asterisk key can instead of side key.

config __NO_SIDE_VOLUME_KEY_STAR_POUND__
	option skipmk
	def_bool y if __MMI_NO_SIDEKEY__
	def_bool n

config __MMI_CAMERA_KEY__
	option skipmk
	bool "Camera key"
	default n
	---help---
		MMI support a speical camera key.

config __MMI_USE_LSK_AS_SEND2__
    option skipmk
    bool "__MMI_USE_LSK_AS_SEND2__"
    default n
    ---help---
    	MMI support Left softkey instead of dail key when dual SIM cards.

endmenu
