comment "--- application/coolmmi/mmi_csdapp/camera ---"

config __MMI_CAMERA__
	option skipmk
	bool "MMI CAMERA"
	default y if CAMERA_MODULE || ISP_SUPPORT
	---help---
        This option enables Camera application and Image Viewer application.

config __MMI_CAMERA_FEATURE_WATCHDOG_TIMEOUT__
	option skipmk
	bool "Camera watchdog"
	default y if CAMERA_MODULE || ISP_SUPPORT
	---help---
            This option enables camera can exit previewing state if no operation in specific time.

config __CAMERA_FEATURE_EV__
	option skipmk
	bool "__CAMERA_FEATURE_EV__"
	default n

#config __MMI_WEBCAM__
#	option skipmk
#	bool "Webcamera mmi support"
#	default y if WEBCAM_SUPPORT
#

config __MMI_DISABLE_DUAL_SENSOR__
	option skipmk
	def_bool n if SUPPORT_DUAL_CAMERA
	def_bool y

#config HORIZONTAL_CAMERA
#	option skipmk
#	bool "Camera app support screen rotation"
#	default n
#
#config __MMI_SCREEN_ROTATE__
#	option skipmk
#	bool "Support screen rotation"
#	depends on HORIZONTAL_CAMERA
#	default y
#
#config __MMI_SCREEN_ROTATE_DEGREE_270__
#	option skipmk
#	bool "Supports screen rotation of 270 degree"
#	depends on HORIZONTAL_CAMERA
#	default y

config __CAMERA_FEATURE_EFFECT__
	option skipmk
	bool "CAMERA_FEATURE_EFFECT"
	default y
	---help---
	    This option enables effect feature for camera application.

config __CAMERA_FEATURE_EFFECT_NORMAL__
	option skipmk
	bool "CAMERA_FEATURE_EFFECT_NORMAL"
	default y
	---help---
	    This option enables effect feature contains normal mode for camera application.

config __CAMERA_FEATURE_EFFECT_ANTIQUE__
	option skipmk
	bool "CAMERA_FEATURE_EFFECT_ANTIQUE"
	default y
	---help---
	    This option enables effect feature contains antique mode for camera application.

config __CAMERA_FEATURE_EFFECT_REDRISH__
	option skipmk
	bool "CAMERA_FEATURE_EFFECT_REDRISH"
	default y
	---help---
	    This option enables effect feature contains red filter mode for camera application.

config __CAMERA_FEATURE_EFFECT_GREENRISH__
	option skipmk
	bool "CAMERA_FEATURE_EFFECT_GREENRISH"
	default y
	---help---
	    This option enables effect feature contains green filter mode for camera application.

config __CAMERA_FEATURE_EFFECT_BLUERISH__
	option skipmk
	bool "CAMERA_FEATURE_EFFECT_BLUERISH"
	default y
	---help---
	    This option enables effect feature contains blue filter mode for camera application.

config __CAMERA_FEATURE_EFFECT_BLACKWHITE__
	option skipmk
	bool "CAMERA_FEATURE_EFFECT_BLACKWHITE"
	default y
	---help---
	    This option enables effect feature contains black-and-white mode for camera application.

config __CAMERA_FEATURE_EFFECT_NEGATIVE__
	option skipmk
	bool "CAMERA_FEATURE_EFFECT_NEGATIVE"
	default y
	---help---
	    This option enables effect feature contains negative mode for camera application.

config __CAMERA_FEATURE_CONTRAST__
	option skipmk
	bool "CAMERA_FEATURE_CONTRAST"
	default y
	---help---
	    This option enables contrast feature for camera application.

config __CAMERA_FEATURE_AUTO_SAVE__
	option skipmk
	bool "CAMERA_FEATURE_AUTO_SAVE"
	default y
	---help---
	    This option enables auto save feature for camer application.	

config __CAMERA_FEATURE_WB__
	option skipmk
	bool "CAMERA_FEATURE_WB"
	default y
	---help---
	    This option enables white balance feature for camera application.

config __CAMERA_FEATURE_CONT_SHOT__
	option skipmk
	bool "CAMERA_FEATURE_CONT_SHOT"
	default y
	---help---
	    This option enables continuous shooting feature for camera application.

config __CAMERA_FEATURE_BANDING__
	option skipmk
	bool "CAMERA_FEATURE_BANDING"
	default y
	---help---
	    This option enables anti-banding feature for camera application.

config CAMERA_SUPPORT_PREVIEW_WITHOUT_TFLASH
	option skipmk
	bool "CAMERA_SUPPORT_PREVIEW_WITHOUT_TFLASH"
	default n
	---help---
	    This option enables preview without Tflash feature does not need check state for init preview.

config CAM_MD_SUPPORT
	bool "CAM_MD_SUPPORT"
	depends on !CAMERA_MODEL
	default n
	---help---
	    This option enables motion detection feature for camera app.
